@media (min-width: 1000px) {
    body{
        background: green;
    }
}
@media (max-width: 500px) {
    body{
        background: pink;
    }
}


a{
    color: aqua;
    text-decoration: none;
}
a:hover {
    color: green;
    background-color: yellow;
}
h1 {
    font-family: sans-serif;
}